*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    }

body{
    background-image: linear-gradient(#8585ad, #293d3d, #8585ad);
   /* background: #33334d;  */
}

h1{
    position: absolute;
    margin: auto 32%;
    top: 15%;
    z-index: 1;
    text-transform: uppercase;
    padding: 5px;
    font-size: 36px;
    color: #fff;
    text-shadow: 3px -3px 6px rgba(255, 102, 102,0.8);    
}

#arleftBtn, #arrightBtn{
    width: 40px;
    height: 40pxs;
    cursor: pointer;
    margin: 30px;
}

#arleftBtn:hover{
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(255, 0, 191, 0.6)
}

#arrightBtn:hover{
    border-radius: 50%;
    box-shadow: 4px 4px 6px rgba(255, 0, 191, 0.6)
}

.gallery{
    width: 1000px;
    display: flex;
    overflow-x: scroll;
}

.gallery div{
    width: 100%;
    display: grid; 
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img{
    width: 100%;   
    filter: grayscale(100%);
    transition: transform 0.5s;
}

.gallery::-webkit-scrollbar{
    display: none;
}

.gallery{
    scrollbar-width: none;
}

.gallery-wrap{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15% auto;
}

.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

.gallery-wrap .popup-image{
   position: fixed;
   top: 0;
   left: 0;
   background: rgba(0,0,0,0.7); 
   height: 100%;
   width: 100%;
   z-index: 100;
   display: none ;
}

.gallery-wrap .popup-image span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.gallery-wrap .popup-image span:hover{
    color: #ff6666;
    text-shadow: 3px 3px 4px rgba(204, 0, 0, 0.6);
}

.gallery-wrap .popup-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #ffcccc;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

@media (max-width:768px){
    .gallery-wrap .popup-image img{
       width: 95%;
    }
    h1{
       font-size: 14px;
       top: 5%;
       margin: auto 24%;
    }
}