*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    }

html{
    height: 100%;
}

body{
    background: linear-gradient(45deg, rgba(183,204,246,0.5),rgba(7,43,118,0.8));
    background-size: cover;
    background-position: center;
}

h1{
    display: flex;
    position: absolute;
    margin: auto 35%;
    top: 10%;
    z-index: 1;
    text-transform: capitalize;
    padding: 5px;
    font-size: 3vw;
    color: #fff;
    text-shadow: 3px -3px 6px rgba(255, 102, 102,0.8);    
}

#arleftBtn, #arrightBtn{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 30px;
}

#arleftBtn:hover, #arrightBtn:hover{
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(255, 0, 191, 0.6)
}

.gallery{
    width: 1100px;
    display: flex;
    overflow-x: scroll;
}

.gallery div{
    width: 100%;
    display: grid; 
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img{
    width: 100%;   
    filter: grayscale(100%);
    transition: transform 0.5s;
}

.gallery::-webkit-scrollbar{
    display: none;
}

.gallery{
    scrollbar-width: none;
}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15% auto;
}

.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

.gallery-wrap .popup-image{
   position: fixed;
   top: 0;
   left: 0;
   background: rgba(0,0,0,0.7); 
   height: 100%;
   width: 100%;
   z-index: 100;
   display: none ;
}

.gallery-wrap .popup-image span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.gallery-wrap .popup-image span:hover{
    color: #ff6666;
    text-shadow: 3px 3px 4px rgba(204, 0, 0, 0.6);
}

.gallery-wrap .popup-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #ffcccc;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

@media (max-width:992px){
    .gallery-wrap .popup-image img{
        width: 100%;
        width: 580px;
    }
    h1{
        font-size: 28px;
        top: 13%;
        margin: auto 33%;
    }
}

@media (max-width:820px){
    body{
        margin:50% 0;
    }
    .gallery-wrap .popup-image img{
        width: 100%;
        width: 760px;
    }
    h1{
        font-size: 24px;
        top: 25%;
        margin: auto 30%;
    }
}

@media (max-width:430px){
    body{
        margin:50% 0;
    }
    .gallery-wrap .popup-image img{
       width: 95%;
       width: 380px;
    }
    h1{
       font-size: 14px;
       top: 16%;
       margin: auto 30%;
    }
    #arleftBtn, #arrightBtn{
        width: 18px;
        height: 18px;
        margin: 5px;
    }
    .gallery{
        width: 335x;
    }
    .gallery div{
        grid-template-rows: auto;
        grid-gap: 3px;
        padding: 3px;
    }
}
